<a href="https://colab.research.google.com/github/Abhisheksingh012/Coursera_Capstone/blob/main/Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import requests

Get the HTML page of Wiki, and using read_html we convert the html data into list of Data frame objects.

Remove cells which have borrow not assigned.

In [ ]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)

wiki_raw = pd.read_html(wiki_page.content, header = 0)[0]
wiki_raw

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [ ]:
df = wiki_raw[wiki_raw.Neighbourhood!= 'Not assigned']
df.reset_index(inplace = True)
df.head()

   index  ...                                Neighbourhood
0      2  ...                                    Parkwoods
1      3  ...                             Victoria Village
2      4  ...                    Regent Park, Harbourfront
3      5  ...             Lawrence Manor, Lawrence Heights
4      6  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

In [ ]:
df.groupby(['Postal Code']).first()

             index  ...                                      Neighbourhood
Postal Code         ...
M1B              9  ...                                     Malvern, Rouge
M1C             18  ...             Rouge Hill, Port Union, Highland Creek
M1E             27  ...                  Guildwood, Morningside, West Hill
M1G             36  ...                                             Woburn
M1H             45  ...                                          Cedarbrae
...            ...  ...                                                ...
M9N             98  ...                                             Weston
M9P            107  ...                                          Westmount
M9R            116  ...  Kingsview Village, St. Phillips, Martin Grove ...
M9V            143  ...  South Steeles, Silverstone, Humbergate, Jamest...
M9W            152  ...                Northwest, West Humber - Clairville

[103 rows x 3 columns]

The new Wiki link already has nieghborhood merged according to Postal Code and Borough

In [ ]:
len(df['Postal Code'].unique())

103

In [ ]:
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

In [ ]:
df.shape

(103, 4)